<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AbsorbUrlDomain" value="https://ceec.carollo.com/api/Rest/v1/" />
  <!--<add key="AbsorbUrlDomain" value="https://carollo.sandbox.myabsorb.com/api/Rest/v1/"/>-->
    <add key="PrivateKey" value="912cb571-e670-4bac-8789-2d28ccd87965" />
    <add key="ExceptionDisplineArea" value="" />
    <add key="ArchivedCDPTables" value="false" />
    <add key="ArchivedConfigYear" value="2015" />
    <add key="RedVectorUrlDomain" value="https://webservices.redvector.com/LMS.asmx/GetAccountCourseActivity" />
    <add key="EmailHost" value="owa.carollo.com" />
    <add key="PollingIntervalInMinutes" value="60" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ActivityConnection" connectionString="data source=io-util-prd1\IOUTILPRD1;initial catalog=LOG_ACTIVITY;User Id=r_CEECAPI;Password=@34tL2bN03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
    <!--<add name="ActivityConnection" connectionString="data source=io-util-dev1\IOUTILDEV1;initial catalog=LOG_ACTIVITY;User Id=r_CEECAPI;Password=@34tL2bN03;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>